/*////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////*/
/*
CSS for FFmpeg GUI.
*/
/*////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////*/


/*////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////*/
html {
    height: 100%
}
body{
  font-family: Verdana,Geneva,sans-serif;
  background: radial-gradient(#010, #222, #08c);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
/*////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////*/


/*////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////*/
.available_file_css{
  color: #000;
}
/*////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////*/


/*////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////*/
tr:nth-child(even) {background-color: #0c8}
tr:nth-child(odd) {background-color: #0a7}
tr:hover{
  background-color: #fff;
}
/*////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////*/


/*////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////*/
#main_window_bkgd{
  background: #222;
  background: radial-gradient(#010, #222, #0c8);
  background: rgba(0,0,0,0);
}
/*////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////*/


/*////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////*/
.top_nav{
  color: #000;
  padding: 5px;
  background-color: #fc8; 
  border: 1px solid #000;
}

.top_nav:hover{
  background-color: #fff;
}
/*////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////*/


/*////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////*/
.button_custom{
  position: absolute;
  color: #fff;
  text-align: center;
  border: 1px solid #000;

  width: 9%;
  background-color: #222;
}
/*////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////*/